<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
        这是屏蔽Logback自己本身的log
    -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{100} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="perf4jJmxAppenderStudentController" class="org.vincent.devops.monitoring.perf4j.Perf4jJmxAttributeStatisticsAppender">
        <ClassName>org.vincent.devops.controller.StudentController</ClassName>
        <MBeanName>devops1:type=Perf4J1,name=StudentController</MBeanName>
    </appender>

    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="1000"/>
        <appender-ref ref="perf4jJmxAppenderStudentController"/>
    </appender>

    <logger name="org.perf4j" level="info" additivity="false">
        <appender-ref ref="CoalescingStatistics"/>
    </logger>

    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--<logger name="org.jmxtrans" level="error" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <logger name="org.hibernate" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.zaxxer" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.dozer" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.eclipse.jetty" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>